@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Roboto-Regular";
    src: url('../../public/assets/fonts/Roboto-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Poppins-Bold";
    src: url('../../public/assets/fonts/Poppins-Bold.ttf') format("truetype");
}
@font-face {
    font-family: "Poppins-ExtraBold";
    src: url('../../public/assets/fonts/Poppins-ExtraBold.ttf') format("truetype");
}
@font-face {
    font-family: "Poppins-Light";
    src: url('../../public/assets/fonts/Poppins-Light.ttf') format("truetype");
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url('../../public/assets/fonts/Poppins-SemiBold.ttf') format("truetype");
}
@font-face {
    font-family: "Poppins-Thin";
    src: url('../../public/assets/fonts/Poppins-Thin.ttf') format("truetype");
}
@font-face {
    font-family: "Poppins-Regular";
    src: url('../../public/assets/fonts/Poppins-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Poppins-Medium";
    src: url('../../public/assets/fonts/Poppins-Medium.ttf') format("truetype");
}
@font-face {
    font-family: "Poppins-ExtraLight";
    src: url('../../public/assets/fonts/Poppins-ExtraLight.ttf') format("truetype");
}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
::-webkit-scrollbar {
    width: 5.5px;
    scrollbar-width: thin;
}
::-webkit-scrollbar-thumb {
    background-color: #0A7468;
    border-radius: 12px;
}
::-moz-scrollbar-thumb {
    background-color: #0A7468;
    border-radius: 12px;
}
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.animate-scroll {
    animation: scroll 10s linear infinite;
}
.header-gradient {
    background: linear-gradient(101.85deg, #1A1E29 -24.82%, #132D46 15.13%, #007253 55.12%, #01C38E 95.17%, #01C38E 135.38%);
}
.body-gradient {
    background: linear-gradient(90deg, #01C38E -22.22%, #06997A 19.58%, #0A7468 61.39%, #0F4D55 103.19%, #132D46 145%);
}
.body-gradient2 {
    background: linear-gradient(89.99deg, #01C38E -104.64%, #06997A -46.51%, #0A7468 11.62%, #0F4D55 69.75%, #132D46 127.87%);
}
::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #132D46;
}
::selection {
    color: white;
    background: #132D46;
}
/*  */


@keyframes bounce-slight {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1%);
    }
  }
  .animate-bounce-slight {
    animation: bounce-slight 2s infinite;
  }